!!!5
%html
  %head
    %title MeinMap
    %link{:href=>"/style.css",:type=>"text/css",:rel=>"stylesheet"}
    %link{:ref=>"shortcut icon",:href=>"favicon.ico"}
    %script{:src =>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script
      :erb
        $(function(){
          var canvas = $('canvas')[0]
          var c = canvas.getContext('2d')
          <% for color, pixels in @pixel_map %>
            c.fillStyle = "rgb(<%= color %>)"
            <% for pixel in pixels %>
              c.fillRect(<%= pixel[0]*4 %>,<%= pixel[1]*4 %>,4,4)
            <% end %>
          <% end %>
          $('#canvasImg').attr('src',canvas.toDataURL())
        })
  %body
    %section
      %header
        %h1 MeinMap
        %h2 A Minecraft Map Display
      %article
        -if @error
          %h2 We're so sorry, but we weren't able to process that file!
        %canvas{:width=>'512',:height=>'512'}
        %img#canvasImg
      %article
        %h2 Submit your own map_x.dat file
        %form{:method=>'post',:enctype=>'multipart/form-data'}
          %input{:type=>'file',:name=>'mapfile'}
          %input{:type=>'submit'}
      %footer
        Copyright &copy;
        =Date.today.year
        &mdash;
        %a{:href=>"http://kevingisi.com"} Kevin W. Gisi
        | view the
        source code
        on GitHub soon!
